{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<img src="/images/logo.svg" width="160">
			<h1>Welcome to Paradise Travel</h1>
			<h3>A place where dreams come true</h3>
		</div>
		<div class="row">
			<header class="container">
				<h3>Explore some of our travels here:</h3>
			</header>
			{% for obj in travels %}
				<div class="col-md-4 col-lg-4">
					<a href="/travels/destination/{{obj.slug}}"><h4>{{obj.title}}</h4></a>
					<p>{{obj.content.brief | safe}}</p>
					{% if obj.image %}
						<img src="{{obj.image.secure_url}}" width="100px" height="100px" class="thumbnail">
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
