{% extends "layouts/default.html" %} {% block intro %}
<div class="container">
	<h1>{{ section }}</h1>
</div>
{% endblock %} {% block content %}

<div class="container continents">
	<a href="#">africa</a>
	<a href="#">america</a>
	<a href="#">australia</a>
	<a href="#">europe</a>
	<a href="#">asia</a>
</div>

<div class="travel-grid">
	{% for travel in travelsArr %}
	<div class="travel-item half">
		<div class="picture">
			<img src="{{ travel.image.secure_url }}" />
		</div>
		<div class=" half">
			<a href="#" class="description">
				<h2>{{ travel.title }}</h2>
				{{ travel.content.brief }}
			</a>
		</div>
	</div>

	{% endfor %}
</div>
{% endblock %}
