{% extends "layouts/default.html" %} {% block intro %}

<div class="container continents">
	<a href="/travels">World</a>
	{% for destination in destinations %}
	<a href="/travels/{{ destination.key }}">{{ destination.name }}</a>
	{% endfor %}
</div>
<div class="travel-grid">
	{% for travel in travelsArr %}
	<div class="travel-item half">
		<div class="picture">
			<img src="{{ travel.image.secure_url }}" />
		</div>
		<div class="half">
			<a href="/travels/destination/{{ travel.slug }}" class="description">
				<h2>{{ travel.title }}</h2>
				{{ travel.content.brief | safe }}
			</a>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
